*{box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;}

body{
    background:  rgb(123, 60, 217);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    margin-top: 100px;}

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;}

.quiz-box{
    background: rgb(237, 71, 198);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0px 25px rgb(176, 78, 172);}

.quiz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 3px solid rgb(32, 14, 28);}

.timer, .progress{
    padding: 8px 15px;
    font-size: 14px;}

.timer{font-weight: bold;
background: plum;
border-radius: 4px;}


#time-left{font-weight: bold;}

#question-number{
    margin-top: 5px;
    font-size: 14px;
    padding: 8px 15px;
    font-weight: bold;
    background: plum;
    border-radius: 4px;}

 
h1{
    text-align: center;
    margin-bottom: 30px;}

.btn-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 20px 0;}

.btn{
    background: rgb(53, 30, 100);
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;}

.btn:hover{background: rgb(186, 89, 227);}

.btn.correct{background: rgb(55, 152, 55);}
.btn.wrong{background: rgb(246, 52, 52);}

.start-btn, .next-btn{
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;}

.controls{
    display: flex;
    justify-content: center;
    gap: 10px;}

.hide{display: none;}

#question {
    margin-bottom: 20px;
    color: black;}

#score-container {text-align: center;}

#score-container h2 {
margin-bottom: 15px;}

#score-container p {
    font-size: 20px;
    margin-bottom: 20px;}

#score{
    font-weight: bold;}
    
img{border-radius: 30px;}

